*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100dvw;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
}
.container {
    width: 100vw;
    height: 100px;
    background-color: bisque;
    position: relative;
}

.content {
    height: 40px;
    width: 81px;
    background-color: rgb(196, 114, 7);
    border: 1px rgb(4, 238, 121) solid;
}

.second {
    position: absolute;
    margin-top: 16px;
}